body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navBar {
  display: flex;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
  background: black;
  color: red;
  box-shadow: -4px 1px 5px #000;
}

.navBar button {
  background-color: red
} 

.carousel {
  width: 100%;
  height: 500px;
  margin: auto;
}

.memeImages {
  height: 400px;
  overflow: hidden;
  width: 100%;
  object-fit: cover;
}
